@model Samoloty.Models.Przelot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Przelot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PunktStartowty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunktStartowty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Czas1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czas1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PunktKoncowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunktKoncowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Czas2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czas2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
