@model Samoloty.Models.Samolot

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy chcesz usunąć samolot?</h3>
<div>
    <h4>Samolot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
           
            <input type="submit" value="Usuń" class="btn btn-primary"   onclick="return confirm('Czy na pewno chcesz usunąć?')"/> |

            @Html.ActionLink("Wróć do spisu", "Index")
        </div>
    }
</div>
